/* RESET STYLING */
*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Rubik';
}
/*ROOT STYLING */
:root {
	--purple: #a729f5;
	--dark-navy: #313e51;
	--navy: #3b4d66;
	--grey-navy: #626c7f;
	--light-bluish: #abc1e1;
	--light-grey: #f4f6fa;
	--white: #ffffff;
	--green: #26d782;
	--red: #ee5454;
}
@font-face {
	font-family: 'Rubik';
	src: url(/assets/fonts/Rubik-VariableFont_wght.ttf);
}
@font-face {
	font-family: 'Rubik Italic';
	src: url(/assets/fonts/Rubik-Italic-VariableFont_wght.ttf);
}

body {
    background: var(--Light-Grey, #F4F6FA);
	background-image: url(/assets/images/ellipse-8.png);
}

.container {
	width: 90%;
	margin: 0 auto;
}
.hidden {
	display: none;
}

/* NAVIGATION/DARK AND LIGHT MODE STYLING */
nav {
	display: flex;
	gap: .5em;
	justify-content: space-between;
	padding: .5em;
	align-items: center;
	width: 95%;
	margin: 10px auto;
}
.question__tag {
	display: flex;
	align-items: center;
	gap: 1em;
}
nav .icon {
	background-color: #F6E7FF;
}
.question__tag--title {
	font-weight: 500;
	color: var(--Dark-Navy, #313E51);
}
.mode {
	display: flex;
	gap: 0.5em;
	justify-content: flex-end;
	padding: .5em;
	align-items: center;
}
.switch__mode {
	position: relative;
}
.bg-mode {
	width: 2.2em;
	height: 20px;
	background: var(--purple);
	border-radius: 14px;
}
.switch {
	width: 12px;
	height: 12px;
	background: var(--white);
	border-radius: 50%;
	position: absolute;
	top: 4px;
	left: 5px;
}

/* HERO STYLING */
.hero {
	padding: 2em 0;
}
.hero__light {
	font-weight: 300;
	font-size: 40px;
	color: var(--Dark-Navy, #313E51);
}
.hero__bold {
	font-weight: 500;
}
.body__text {
	color: var(--Grey-Navy, #626C7F);
	font-weight: 400;
	font-style: italic;
	margin-top: 1em;

}

/* SUBJECT LIST STYLING */
.subject {
	margin-bottom: 1em;
	background-color: var(--white);
	border-radius: 10px;
	padding: 1em;
	display: flex;
	align-items: center;
	gap: 16px;
}
.icon {
	border-radius: 5px;
	display: flex;
	padding: 5px;
}
.html .icon {
	background-color: rgba(238, 84, 84, 0.1);
}
.css .icon {
	background-color: rgba(38, 215, 130, 0.1);
}
.javascript .icon {
	background-color: #EBF0FF;
}
.accessibility .icon {
	background-color: #F6E7FF;
}

/* SUBJECT QUESTION STYLING */
.subject__question {
	margin-top: 3em;
}
.subject__question-number {
	color: var(--Grey-Navy, #626C7F);
	font-size: 14px;
	font-style: italic;
	font-weight: 400;
	padding: 1em 0;
}
.question {
	color: var(--Dark-Navy, #313E51);
	font-size: 20px;
	font-weight: 500;
}

input[type='range'] {
	width: 100%;
	-webkit-appearance: none;
	appearance: none;
	background: var(--white);
	border-radius: 20px;
	outline: none;
	height: 10px;
	margin: 1.5em 0;
}
/* For Webkit Browsers */
input[type='range']::-webkit-slider-runnable-track {
	background: linear-gradient(to right, #a44cf8, #a44cf8) no-repeat;
    background-size: 50% 100%; /* Adjust the size to control the fill */
    height: 6px;
    border-radius: 20px;
	overflow: hidden;
	
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 0;
	height: 0;
}
button {
	outline: none;
	background: none;
	border: none;
	cursor: pointer;
	width: 100%;
}
.option {
	margin-bottom: 0.5em;
	background-color: var(--white);
	padding: 12px;
	border-radius: 10px;
	display: flex;
	gap: 1em;
	font-size: 18px;
	align-items: center;
}
.option__letter {
	background-color: var(--light-grey);
	padding: 0.5em .7em;
	border-radius: 5px;
	font-weight: 500;
	color: var(--Grey-Navy, #626C7F);
}
.option__title {
	color: var(--Dark-Navy, #313E51);
	font-weight: 600;
}
.btn--submit {
	background-color: var(--purple);
	padding: 14px;
	border-radius: 12px;
	color: var(--Pure-White, #FFF);
	font-weight: 500;
	font-size: 14px;
}